html,
body
  height 100%

img
  max-width 100%
  
input,
button,
select
  &:focus
    outline none !important

.wrapper
  min-height 100%
  height auto !important
  height 100%
  font 14px/1.3 $BASE_FONT
  word-break break-word
  margin 0 auto

.header
  background: white
  &-inset
    position relative
    padding 20px 0
    min-width $GLOBAL_MIN_WIDTH
    max-width $GLOBAL_MAX_WIDTH
    margin 0 auto
  &_tel
    font-size: 26px
    margin-left: 20px


.content 
  position relative
  &-inset
    position relative
    min-width $GLOBAL_MIN_WIDTH
    max-width $GLOBAL_MAX_WIDTH
    padding 50px 0
    margin 0 auto
  &_left
    width: 40%
  &_right
    width: 50%
    float right
    
.article_1
  color: white
  
.article_2
  padding-top: 120px
  
.article_3
  position relative
  z-index: 2
  font-size: 16px
  p
    margin-bottom: 25px
    line-height: 1.5
    b
      color $COLOR_1

.title_1
  font-size: 30px
  text-transform uppercase
  line-height: 1.2
  border-bottom 1px solid white
  padding-bottom: 15px
  margin-bottom: 15px
  
.title_2
  font-size: 36px
  color $COLOR_1
  margin-bottom: 50px
  line-height: 1.2
 
.title_3
  color: white
  font-size: 41px
  line-height: 1.3
  margin-bottom: 50px
  
.subtitle
  font-size: 16px

.text_1
  font-size: 16px
  line-height: 1.5
  margin-bottom: 40px

.list_1
  padding 0
  margin 0
  list-style: none
  &_ico
    position absolute
    left 0
    top: -12px;
  li
    position relative
    margin-bottom: 50px
    padding-left: 70px

.bg_1
  background url($IMG_PATH 'bg1.jpg') 0 0 no-repeat
  background-size: cover

.bg_2
  background: #824646
  
.bg_3
  background url($IMG_PATH 'bg2.jpg') 0 0 no-repeat
  background-size: cover
  
.bg_gray
  background #DFE4E7
  padding-bottom: 70px
  
.arm_img
  position absolute
  left -170px
  bottom 0
  width: 700px
  height: 600px
  background url($IMG_PATH 'iphone-russia-left.png') 0 0 no-repeat
  background-size cover
  &_text
    width: 200px
    position absolute
    left 140px
    top 80px
    text-align right
    font-size: 12px
    line-height: 1.6
    font-style italic
    &:after
      content: '';
      position absolute
      left 105%
      top 8px
      width: 99px
      height: 67px
      background url($IMG_PATH 'left.png') 0 0 no-repeat
      background-size cover
    span
      display inline-block
      margin-bottom: 5px
      font-size: 16px
      color $COLOR_1
      
.laptop
  position absolute
  right 0
  top 50px
  width: 1224px
  height: 670px
  background url($IMG_PATH 'macbook-pro.png') 0 0 no-repeat
  background-size cover
  span
    position absolute
    left 50px
    bottom 5px
    font-size: 12px
  
.form_1
  .form-control
    width 48.5%
    float left
    margin-bottom: 13px

.form_2
  .form-control
    display inline-block
    width 250px
    margin: 0 5px 30px
    height 45px

.imac
  position absolute
  right 0
  top 65px
  width 665px
  height: 530px
  padding: 27px 28px 0
  background url($IMG_PATH 'imac.png') 0 0 no-repeat
  background-size cover
  
.chess_cols
  width 920px
  margin: 40px auto
  .table_mod_cell
    width 50%
    text-align center
    line-height: 1.6
  &_title
    font-size: 20px
    font-weight bold
    color $COLOR_1
    margin-bottom: 20px
    line-height: 1.3

.work
  padding: 0 10%
  &_circle
    position relative
    width: 140px
    height 140px
    border-radius 50%
    border 2px solid $COLOR_1
    margin: 0 auto 20px
    text-align center
    line-height: 130px
    &:after
      content ''
      position absolute
      left 150%
      top 50%
      width: 41px
      height 38px
      margin-top: -19px
      background url($IMG_PATH 'arrow.png') 0 0 no-repeat
  &_title
    margin-bottom: 50px
    font-size 18px
    color white 
    text-align center
    span
      color $COLOR_1
  & > .row
    [class*="col-"]
      &:last-child
        .work_circle
          &:after
            display none

.footer 
  position relative
  font 14px/1.3 $BASE_FONT
  word-break break-word
  background: #DFE4E7
  &-inset
    padding: 50px 8%
    min-width $GLOBAL_MIN_WIDTH
    max-width $GLOBAL_MAX_WIDTH
    margin 0 auto
  p
    font-size: 20px
    span
      color gray
    
.footer_tel
  font-size: 26px
  margin 20px 0
  
.form_3
  border 1px solid black
  border-radius 10px
  padding: 30px
  .form-control
    height 45px
    margin-bottom: 10px
  .btn
    width: 100%
    padding-left: 0
    padding-right: 0
    text-align center
    

.custom_modal
  width: 400px
  .close
    position absolute
    right 10px
    top 5px
    font-size: 35px
    color: white;
    opacity: 1;
  .modal-body
    background: $COLOR_1
    padding: 30px
    text-align center
    .form-control
      margin-bottom: 15px
  .modal-text
    font-size: 21px
    color: white
  .btn_1
    width 100%
    background: white
    color: black
    font-size: 20px
    



