.ellipsis 
  width 100%
  white-space nowrap
  overflow hidden
  -ms-text-overflow ellipsis
  o-text-overflow ellipsis
  text-overflow ellipsis

.full_width
	width 100%
	
.full_height
	height 100%

.alignV
	display table
	position relative
	width 100%
	height 100%
	z-index 1
	&_inset
		display table-cell
		vertical-align middle

.dib
  display inline-block
  vertical-align middle
  &[class*="col-"]
    float none
    margin-right: -4px
    
.list
  list-style none
  margin: 0 0 40px
  padding: 0
  li
    padding: 3px 0
    

.btn_1
  display inline-block
  padding: 7px 30px
  font-size: 16px
  color white
  background-color: #ff0009
  border-radius: 5px
  &:hover
    color white
  
.table_mod
  display table
  width 100%
  height 100%
  &_row
  	display table-row
  &_cell
    display table-cell
    vertical-align middle
    height 100%
    
.mb_20
  margin-bottom: 20px !important
  
.no_pb
  padding-bottom: 0 !important
    
